{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block body %}
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Здравствуйте!</h1>
      <p class="lead fw-normal">Это сайт, специализирующийся на изучении иностранных языков</p>
        <a class="btn btn-outline-secondary" href="/japanese">Японский
      <a class="btn btn-outline-secondary" href="/chinese">Китайский
        <a class="btn btn-outline-secondary" href="/korean">Корейский</a></a></a>
      <p class="lead fw-normal">обязательно нажмите на кнопочку!</p>
    </div>
    <p class="lead fw-normal">Для вашего удобства мы создали бота в telegram, в котором вы можете изучать языки:</p>
    <a class="btn btn-sm btn-outline-secondary" href="http://t.me/alyona_hse_bot">Ссылка здесь!</a>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
{% endblock %}
