{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block body %}
<div class="container"><div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">

  <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">こんにちは!</h1>
      <p class="lead my-3">Или же kon ni chi ha - "Здравствуйте" по - японски!</p>
      <p><img src="/static/img/japan/japan1.jpg"></p>
    </div></div></div>

<p class="lead fw-normal">Японский язык — язык японцев и фактически государственный язык Японии,
    со спорным систематическим положением среди других языков.
    Несмотря на то, что статус японского языка юридически не установлен,
    вся официальная документация и японские законы написаны на этом языке.
    В школах Японии изучение языка предусмотрено в рамках учебной дисциплины «национальный язык».
    Точные данные о числе говорящих на японском языке отсутствуют.
    Существует предположение, что их число превышает 130 миллионов человек.
    Это число включает в себя жителей Японии, японо-американцев, проживающих за её пределами,
    а также жителей регионов, когда-либо находившихся под управлением Японии.
    Оно в зависимости от статистики может варьироваться, но тем не менее японский язык входит
    в десятку языков мира по количеству носителей.</p>

<p class="lead fw-normal">Генетические связи японского языка не до конца выяснены.
    Выделяются два слоя лексики, один из которых имеет параллели в алтайских языках,
    другой — в австронезийских языках; вероятнее, исконен алтайский слой.
    Обладает оригинальной письменностью, сочетающей идеографию и слоговую фонографию.
    По грамматическому строю — агглютинативный с преимущественно синтетическим выражением грамматических значений.</p>

{% endblock %}