{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block body %}
<div class="container"><div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">

  <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">안녕하세요!</h1>
      <p class="lead my-3">Или же annionghaseyo - "Здравствуйте" по - корейски!</p>
      <p><img src="/static/img/korea/korea1.jpg"></p>
    </div></div></div>

<p class="lead fw-normal">Корейский язык — язык корейцев и обоих государств Корейского полуострова: КНДР и Республики Корея.
    Распространён в той или иной мере также в КНР, Японии, США, России, странах Средней Азии.
    Общее число говорящих — около 78 млн человек.</p>

<p class="lead fw-normal">Большинство исследователей относит современный корейский к изолированным языкам,
    однако некоторые считают его частью гипотетической алтайской языковой семьи.
    Существует также гипотеза о родстве корейского языка с дравидскими языками (возможно также с японским).</p>

<p class="lead fw-normal">Остаётся спорным вопрос об отношении к современному корейскому языков
    Трёх корейских царств — пэкче, силла и когурёского, хотя все три языка обнаруживают сходство в лексике
    и (насколько позволяет судить иероглифическая запись) грамматическом строе.
    По мнению некоторых лингвистов, из указанных языков наименьшее сходство обнаруживает когурёский,
    который ряд лингвистов считает предком или ближайшим родственником японского языка.
    Язык силла, напротив, чаще всего рассматривается как предок корейского языка.</p>

<p class="lead fw-normal">Одним из первых на возможное родство корейского
    и японского языков обратил внимание Огура Симпэй.
    В современной западной лингвистике корейский, японский и древние языки Корейского полуострова
    нередко объединяют в группу языков пуё по названию царства Пуё.</p>

<p class="lead fw-normal"></p>

<p class="lead fw-normal"></p>

{% endblock %}